@model UMateModel.Entities.Common.University

@{ ViewData["Title"] = "Edit"; }

<h1>Edit</h1>

<h4>Place</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UniversityId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Homepage" class="control-label"></label>
                <input asp-for="Homepage" class="form-control" />
                <span asp-validation-for="Homepage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portal" class="control-label"></label>
                <input asp-for="Portal" class="form-control" />
                <span asp-validation-for="Portal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Library" class="control-label"></label>
                <input asp-for="Library" class="form-control" />
                <span asp-validation-for="Library" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Map" class="control-label"></label>
                <input asp-for="Map" class="form-control" />
                <span asp-validation-for="Map" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
